.intro {
	float: left;
	background-color: orange;
	width: 1245px;
	height: 80px;
}
.intro h1 {
	color: blue;
	margin-left: 70px;
}
.self img {
	float: right;
	margin-right: 240px;
	margin-top: 1px;
	border: 3px solid blue;
	width: 245px;
	height: 355px;
	background-color: blue;
}
ol {
	font-size: 25px;
	line-height: 2;
}
.self {
	float: right;
	background-color: blue;
	height: auto;
	margin-right: 240px
	width:245px;
	margin-top: 1px;
	
}
em {
	color: green;
}
.self p {
	line-height: 3em;
}
.venture {
	float: right;
	background-color: red;
	width: 500px;
	margin-top: -5px;
	height: 435px;
}
.venture ul {
	line-height: 5em;
}
